.translationContainer {
  display: flex;
  margin: 0 auto;
  background-color:blue;
  width: 40em;
  height: 40em;
}
.translationInputContainer {
  background-color: red;
  width: 50%;
  height: 20em;
}
.translationResultContainer {
  background-color: green;
  width: 50%;
  height: 20em;
}